<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthcare Management Platform</title>
    <link rel="stylesheet" href="../../static/css/home.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <div class="header-text">
          <h1>Healthcare Management Platform</h1>
          <p>
            MedManager provides appointment scheduling, payment processing,
            teleconsultation, and record-keeping, improving patient-doctor
            interactions.
          </p>
          <a href="#" class="button">Learn More</a>
        </div>
        <div class="header-image">
          <img src="../../static/images/ned.png" alt="Doctor Image" />
        </div>
      </div>
    </header>

    <section class="solutions">
      <h2>Healthcare Solutions</h2>
      <p>Experience Seamless Healthcare Management</p>
      <div class="solution-cards">
        <div class="card">
          <h3>Appointment Scheduling</h3>
          <p>Efficient Appointment Scheduling</p>
          <a href="#" class="button">Get Started</a>
        </div>
        <div class="card">
          <h3>Payment Processing</h3>
          <p>Streamlined Payment Solutions</p>
          <a href="#" class="button">Get Started</a>
        </div>
        <div class="card">
          <h3>Teleconsultation Services</h3>
          <p>Convenient Virtual Consultations</p>
          <a href="#" class="button">Get Started</a>
        </div>
        <div class="card">
          <h3>Record-Keeping Services</h3>
          <p>Efficient Record Management</p>
          <a href="#" class="button">Learn More</a>
        </div>
      </div>
    </section>

    <section class="easy-management">
      <div class="easy-management-content">
        <div class="easy-image">
          <img src="../../static/images/dw.png" alt="Doctor working" />
        </div>
        <div class="easy-text">
          <h2>Easy Healthcare Management</h2>
          <p>
            MedManager streamlines appointment scheduling, payment processing,
            teleconsultation, and record-keeping to foster better patient-doctor
            interactions.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
